<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GFAPP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CFC87FA1EA99D3000AAA3DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFC88161EA99D3000AAA3DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFC88211EA99D3000AAA3DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
